
.popup-notification-icon[popupid="formplow"] {
  list-style-image: url(chrome://global/skin/icons/warning-64.png);
}

#formplow-notification-icon {
  list-style-image: url(chrome://global/skin/icons/warning-16.png);
}

#notification-popup-box[anchorid="formplow-notification-icon"] > #formplow-notification-icon {
  display: -moz-box;
}

